<table class="table">
  <tbody>
    <tr>
      <td>Фирма производитель</td>
      <td>{{ product.Firm }}</td>
    </tr>
      <tr>
      <td>Страна изготовитель</td>
      <td>{{ product.Country}}</td>
    </tr>
      <tr>
      <td>Объем</td>
      <td>{{ product.Volume }}</td>
    </tr>
      <tr>
      <td>Цвет</td>
      <td>{{ product.Color }}</td>
    </tr>
      <tr>
      <td>Срок годности</td>
      <td>{{ product.shelf_life }}</td>
    </tr>
      <tr>
      <td>Артикул товара</td>
      <td>{{ product.Article }}</td>
    </tr>
  </tbody>
</table>
